package ${packageName}.service;

import java.util.List;
import ${packageName}.domain.${ClassName};
import com.baomidou.mybatisplus.extension.service.IService;
import com.baomidou.mybatisplus.core.metadata.IPage;

/**
 * ${functionName}Service接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Service extends IService<${ClassName}> {

    /**
    * ${ClassName} 分页查询
    * @param ${className} ${className}
    * @param current 当前页码
    * @param size 每页显示记录数
    * @return 分页查询结果
    */
    IPage<${ClassName}> queryPage(${ClassName} ${className}, Long current, Long size);

    /**
    * ${ClassName} 列表查询
    * @param ${className} ${className}
    * @return 列表查询结果
    */
    List<${ClassName}> queryList(${ClassName} ${className});

}
